<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../js/jquery.js"></script>
<script src="../js/jquery-1.7.1.js"></script>
<body>
<div>
    <table style="background-color: cornflowerblue">
        <tr>
            <td id="11_b" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="12_b" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="13_b" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
        </tr>
    </table>
</div>
</body>

<script>
    //删除教练数据
    var frist = w;
    function test(a){
        var td = document.getElementById(a);
        var tdList = a.split("_");
        var name = td.name;
        if (name === "b" || name === "w") {
        } else {
            name = tdList[1];
        }
        if (name === "b") {
            td.name = "w";
            td.innerHTML = '<img src="../js/img//white.png" style="width: 50px;height: 50px" />';
        } else {
            td.name = "b";
            td.innerHTML = '<img src="../js/img//black.png" style="width: 50px;height: 50px" />';
        }

    };
</script>

</html>