<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老敷游戏站-黑白迭代</title>
    <link rel="icon" href="/js/img/title.png" type="image/x-icon"/>
</head>

<body>
<div style="padding-left: 10%">
    <table border="1">
        <tr>
            <td colspan="8">
                <p align="center" style="font-family: 宋体;font-size: 50px;color: #033794">黑白迭代</p>
            </td>
            <td>
                <p align="center" style="font-family: 宋体;color: #033794;font-size: 35px">游戏规则</p>
            </td>
        </tr>
        <tr>
            <td width="250px" height="100px" colspan="4"><p align="center" style="font-size: 20px;color: #033794;font-family: 宋体;">二维</p></td>
            <td width="250px" height="100px" colspan="4"><p align="center" style="font-size: 20px;color: #033794;font-family: 宋体;">三维</p></td>
            <td width="500px" height="350px" rowspan="2">
                <p style="font-size: 20px;color: #033794;font-family: 宋体;">二维：在8*8的平面上，每点击一个空格，其上下左右空格都会变色，当平面上空格颜色一致时，游戏完成</p>
                <br />
                <p style="font-size: 20px;color: #033794;font-family: 宋体">
                    三维：在8*8*6的立体上，每点击一个空格，同一个层上相邻的上下左右空格会变色，相邻层上对应点也会变色，与第一层相邻的层为第二层，与第二层相邻的层为第一，第三层，与此类推，当所有层上空格颜色一致时，游戏完成</p>
            </td>
        </tr>
        <tr>
            <td><a href="hbdd?num=new"><p align="center" style="font-size: 20px;color: #033794;font-family: 宋体;">入门</p></a></td>
            <td><a href="hbdd?num=primary"><p align="center" style="font-size: 20px;color: #033794;font-family: 宋体;">初级</p></a></td>
            <td><a href="hbdd?num=middle"><p align="center" style="font-size: 20px;color: #033794;font-family: 宋体;">中级</p></a></td>
            <td><a href="hbdd?num=high"><p align="center" style="font-size: 20px;color: #033794;font-family: 宋体;">高级</p></a></td>
            <td><a href="swhbddMain?num=new"><p align="center" style="font-size: 20px;color: #033794;font-family: 宋体;">入门</p></a></td>
            <td><a href="swhbddMain?num=primary"><p align="center" style="font-size: 20px;color: #033794;font-family: 宋体;">初级</p></a></td>
            <td><a href="swhbddMain?num=middle"><p align="center" style="font-size: 20px;color: #033794;font-family: 宋体;">中级</p></a></td>
            <td><a href="swhbddMain?num=high"><p align="center" style="font-size: 20px;color: #033794;font-family: 宋体;">高级</p></a></td>
        </tr>
    </table>
</div>
</body>

</html>