<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../js/jquery.js"></script>
<script src="../js/jquery-1.7.1.js"></script>
<body>
<div>
    <table style="background-color: cornflowerblue">
        <tr>
            <td id="00" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="01" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="02" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="03" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="04" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="05" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="06" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="07" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
        </tr>
        <tr>
            <td id="10" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="11" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="12" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="13" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="14" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="15" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="16" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="17" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
        </tr>
        <tr>
            <td id="20" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="21" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="22" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="23" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="24" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="25" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="26" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="27" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
        </tr>
        <tr>
            <td id="30" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="31" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="32" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="33" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="34" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="35" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="36" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="37" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
        </tr>
        <tr>
            <td id="40" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="41" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="42" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="43" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="44" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="45" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="46" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="47" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
        </tr>
        <tr>
            <td id="50" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="51" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="52" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="53" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="54" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="55" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="56" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="57" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
        </tr>
        <tr>
            <td id="60" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="61" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="62" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="63" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="64" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="65" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="66" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="67" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
        </tr>
        <tr>
            <td id="70" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="71" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="72" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="73" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="74" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="75" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="76" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
            <td id="77" onclick="test(this.id)"><img src="../js/img//black.png" style="width: 50px;height: 50px" /></td>
        </tr>
    </table>
</div>
</body>

<script>

    var Mylist = new Array();

    //token
    var token = "";

    //是否已经提示过完成
    var finish = 0;

    $(document).ready(function () {

        var $chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var maxPos = $chars.length;
        for (i = 0; i < 32; i++) {
            //0~32的整数
            token += $chars.charAt(Math.floor(Math.random() * (maxPos+1)));
        }
        change(-1, -1, 0);
    });

    function test(a){
        var td = document.getElementById(a);
        var tdFirst = a.substring(0,1);
        var tdSecond = a.substring(1,2);

        if (finish === 0) {
            change(tdFirst, tdSecond, 1);
        } else {
            alert("已经完成当前关卡啦！");
        }
        // if (Mylist[tdFirst][tdSecond] === "0" || Mylist[tdFirst][tdSecond] === "1") {
        // } else {
        //     Mylist[tdFirst][tdSecond] = tdList[2];
        // }
        // if (Mylist[tdFirst][tdSecond] === "1") {
        //     Mylist[tdFirst][tdSecond] = "0";
        //     td.innerHTML = '<img src="../js/img//white.png" style="width: 50px;height: 50px" />';
        // } else {
        //     Mylist[tdFirst][tdSecond] = "1";
        //     td.innerHTML = '<img src="../js/img//black.png" style="width: 50px;height: 50px" />';
        // }

    };

    function change(x, y, f) {
        var adata = {
            "x":x,
            "y":y,
            "token" : token
        };
        var data = JSON.stringify(adata);
        $.ajax({
            type : "POST",
            dataType: "json",//通过GET方式上传请求
            contentType : "application/json",//上传内容格式为json结构
            data : data,                                 //上传的参数
            async: false ,
            url : "con/hbdd",     //请求的url。与后端@Request Mapping注解中的值一致。
            success : function(data) {		      //请求成功的回调函数
                if (data.code === 0){
                    for (let i = 0; i < 8; i++) {
                        for (let j = 0; j < 8; j++) {
                            var inx = ""+i+""+j;
                            var td = document.getElementById(inx);
                            if (data.data[inx] === "1") {
                                td.innerHTML = '<img src="../js/img//black.png" style="width: 50px;height: 50px" />';
                            } else {
                                td.innerHTML = '<img src="../js/img//white.png" style="width: 50px;height: 50px" />';
                            }
                        }
                    }
                    if (f === 1) {
                        checkStatus();
                    }
                }
            },
            error : function(e) {
                console.log(e);
            }
        });
    }

    function checkStatus() {
        var adata = {
            "token" : token
        };
        var data = JSON.stringify(adata);
        $.ajax({
            type : "POST",
            dataType: "json",//通过GET方式上传请求
            contentType : "application/json",//上传内容格式为json结构
            data : data,                                 //上传的参数
            async: true ,
            url : "con/checkStatus",     //请求的url。与后端@Request Mapping注解中的值一致。
            success : function(data) {		      //请求成功的回调函数
                if (data.code === 0){
                    if (data.finish === 1) {
                        finish = 1;
                        alert("wow~完成啦！！");
                    }
                }
            },
            error : function(e) {
                console.log(e);
            }
        });
    }
</script>

</html>