<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />

    <title>京东安联收银台</title>
</head>
<body style="margin: 0 auto">
<div>
    <div style="padding-left: 38%">
        <!--头部 -->
        <div>
            <div>
                <div style="float: left;padding-top: 3%"><img width="200" src="../js/img/api_logo.png" /></div>
                <div style="padding-top: 35px;"><font style="font-size: 32px;">收银台</font></div>
            </div>
        </div>
    </div>
    <!--头部  end-->
    <div>
        <br />
        <div style=""><hr width="60%" /></div>
        <div style="padding-top: 10%;padding-left: 45%"><img width="120px" src="../js/img/cheng2x.png" /></div><br />
        <div style="padding-left: 43%" class="content_1"><font style="font-size: 40px;color: #033794">付款成功！</font></div>
    </div>
</div>
<!--头部 end-->
</body>
</html>