<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老敷游戏站-黑白迭代</title>
    <link rel="icon" href="/js/img/title.png" type="image/x-icon"/>
</head>
<script src="../js/jquery.js"></script>
<script src="../js/jquery-1.7.1.js"></script>
<script src="../js/swhbdd.js"></script>
<body>
<div style="padding-left: 20%;">
    <table border="0">
        <tr style="height: 3px">
            <td>
                <p align="center" style="height: 3px"><font style="font-family: 黑体;color: black;">第一层</font></p>
            </td>
            <td>
                <p align="center" style="height: 3px"><font style="font-family: 黑体;color: black;">第二层</font></p>
            </td>
            <td>
                <p align="center" style="height: 3px"><font style="font-family: 黑体;color: black;">第三层</font></p>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <table style="background-color: cornflowerblue">
                        <tr>
                            <td id="000" onclick="test(this.id)"></td>
                            <td id="001" onclick="test(this.id)"></td>
                            <td id="002" onclick="test(this.id)"></td>
                            <td id="003" onclick="test(this.id)"></td>
                            <td id="004" onclick="test(this.id)"></td>
                            <td id="005" onclick="test(this.id)"></td>
                            <td id="006" onclick="test(this.id)"></td>
                            <td id="007" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="010" onclick="test(this.id)"></td>
                            <td id="011" onclick="test(this.id)"></td>
                            <td id="012" onclick="test(this.id)"></td>
                            <td id="013" onclick="test(this.id)"></td>
                            <td id="014" onclick="test(this.id)"></td>
                            <td id="015" onclick="test(this.id)"></td>
                            <td id="016" onclick="test(this.id)"></td>
                            <td id="017" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="020" onclick="test(this.id)"></td>
                            <td id="021" onclick="test(this.id)"></td>
                            <td id="022" onclick="test(this.id)"></td>
                            <td id="023" onclick="test(this.id)"></td>
                            <td id="024" onclick="test(this.id)"></td>
                            <td id="025" onclick="test(this.id)"></td>
                            <td id="026" onclick="test(this.id)"></td>
                            <td id="027" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="030" onclick="test(this.id)"></td>
                            <td id="031" onclick="test(this.id)"></td>
                            <td id="032" onclick="test(this.id)"></td>
                            <td id="033" onclick="test(this.id)"></td>
                            <td id="034" onclick="test(this.id)"></td>
                            <td id="035" onclick="test(this.id)"></td>
                            <td id="036" onclick="test(this.id)"></td>
                            <td id="037" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="040" onclick="test(this.id)"></td>
                            <td id="041" onclick="test(this.id)"></td>
                            <td id="042" onclick="test(this.id)"></td>
                            <td id="043" onclick="test(this.id)"></td>
                            <td id="044" onclick="test(this.id)"></td>
                            <td id="045" onclick="test(this.id)"></td>
                            <td id="046" onclick="test(this.id)"></td>
                            <td id="047" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="050" onclick="test(this.id)"></td>
                            <td id="051" onclick="test(this.id)"></td>
                            <td id="052" onclick="test(this.id)"></td>
                            <td id="053" onclick="test(this.id)"></td>
                            <td id="054" onclick="test(this.id)"></td>
                            <td id="055" onclick="test(this.id)"></td>
                            <td id="056" onclick="test(this.id)"></td>
                            <td id="057" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="060" onclick="test(this.id)"></td>
                            <td id="061" onclick="test(this.id)"></td>
                            <td id="062" onclick="test(this.id)"></td>
                            <td id="063" onclick="test(this.id)"></td>
                            <td id="064" onclick="test(this.id)"></td>
                            <td id="065" onclick="test(this.id)"></td>
                            <td id="066" onclick="test(this.id)"></td>
                            <td id="067" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="070" onclick="test(this.id)"></td>
                            <td id="071" onclick="test(this.id)"></td>
                            <td id="072" onclick="test(this.id)"></td>
                            <td id="073" onclick="test(this.id)"></td>
                            <td id="074" onclick="test(this.id)"></td>
                            <td id="075" onclick="test(this.id)"></td>
                            <td id="076" onclick="test(this.id)"></td>
                            <td id="077" onclick="test(this.id)"></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="padding-left: 2%">
                <div>
                    <table style="background-color: cornflowerblue">
                        <tr>
                            <td id="100" onclick="test(this.id)"></td>
                            <td id="101" onclick="test(this.id)"></td>
                            <td id="102" onclick="test(this.id)"></td>
                            <td id="103" onclick="test(this.id)"></td>
                            <td id="104" onclick="test(this.id)"></td>
                            <td id="105" onclick="test(this.id)"></td>
                            <td id="106" onclick="test(this.id)"></td>
                            <td id="107" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="110" onclick="test(this.id)"></td>
                            <td id="111" onclick="test(this.id)"></td>
                            <td id="112" onclick="test(this.id)"></td>
                            <td id="113" onclick="test(this.id)"></td>
                            <td id="114" onclick="test(this.id)"></td>
                            <td id="115" onclick="test(this.id)"></td>
                            <td id="116" onclick="test(this.id)"></td>
                            <td id="117" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="120" onclick="test(this.id)"></td>
                            <td id="121" onclick="test(this.id)"></td>
                            <td id="122" onclick="test(this.id)"></td>
                            <td id="123" onclick="test(this.id)"></td>
                            <td id="124" onclick="test(this.id)"></td>
                            <td id="125" onclick="test(this.id)"></td>
                            <td id="126" onclick="test(this.id)"></td>
                            <td id="127" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="130" onclick="test(this.id)"></td>
                            <td id="131" onclick="test(this.id)"></td>
                            <td id="132" onclick="test(this.id)"></td>
                            <td id="133" onclick="test(this.id)"></td>
                            <td id="134" onclick="test(this.id)"></td>
                            <td id="135" onclick="test(this.id)"></td>
                            <td id="136" onclick="test(this.id)"></td>
                            <td id="137" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="140" onclick="test(this.id)"></td>
                            <td id="141" onclick="test(this.id)"></td>
                            <td id="142" onclick="test(this.id)"></td>
                            <td id="143" onclick="test(this.id)"></td>
                            <td id="144" onclick="test(this.id)"></td>
                            <td id="145" onclick="test(this.id)"></td>
                            <td id="146" onclick="test(this.id)"></td>
                            <td id="147" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="150" onclick="test(this.id)"></td>
                            <td id="151" onclick="test(this.id)"></td>
                            <td id="152" onclick="test(this.id)"></td>
                            <td id="153" onclick="test(this.id)"></td>
                            <td id="154" onclick="test(this.id)"></td>
                            <td id="155" onclick="test(this.id)"></td>
                            <td id="156" onclick="test(this.id)"></td>
                            <td id="157" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="160" onclick="test(this.id)"></td>
                            <td id="161" onclick="test(this.id)"></td>
                            <td id="162" onclick="test(this.id)"></td>
                            <td id="163" onclick="test(this.id)"></td>
                            <td id="164" onclick="test(this.id)"></td>
                            <td id="165" onclick="test(this.id)"></td>
                            <td id="166" onclick="test(this.id)"></td>
                            <td id="167" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="170" onclick="test(this.id)"></td>
                            <td id="171" onclick="test(this.id)"></td>
                            <td id="172" onclick="test(this.id)"></td>
                            <td id="173" onclick="test(this.id)"></td>
                            <td id="174" onclick="test(this.id)"></td>
                            <td id="175" onclick="test(this.id)"></td>
                            <td id="176" onclick="test(this.id)"></td>
                            <td id="177" onclick="test(this.id)"></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="padding-left: 2%">
                <div>
                    <table style="background-color: cornflowerblue">
                        <tr>
                            <td id="200" onclick="test(this.id)"></td>
                            <td id="201" onclick="test(this.id)"></td>
                            <td id="202" onclick="test(this.id)"></td>
                            <td id="203" onclick="test(this.id)"></td>
                            <td id="204" onclick="test(this.id)"></td>
                            <td id="205" onclick="test(this.id)"></td>
                            <td id="206" onclick="test(this.id)"></td>
                            <td id="207" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="210" onclick="test(this.id)"></td>
                            <td id="211" onclick="test(this.id)"></td>
                            <td id="212" onclick="test(this.id)"></td>
                            <td id="213" onclick="test(this.id)"></td>
                            <td id="214" onclick="test(this.id)"></td>
                            <td id="215" onclick="test(this.id)"></td>
                            <td id="216" onclick="test(this.id)"></td>
                            <td id="217" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="220" onclick="test(this.id)"></td>
                            <td id="221" onclick="test(this.id)"></td>
                            <td id="222" onclick="test(this.id)"></td>
                            <td id="223" onclick="test(this.id)"></td>
                            <td id="224" onclick="test(this.id)"></td>
                            <td id="225" onclick="test(this.id)"></td>
                            <td id="226" onclick="test(this.id)"></td>
                            <td id="227" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="230" onclick="test(this.id)"></td>
                            <td id="231" onclick="test(this.id)"></td>
                            <td id="232" onclick="test(this.id)"></td>
                            <td id="233" onclick="test(this.id)"></td>
                            <td id="234" onclick="test(this.id)"></td>
                            <td id="235" onclick="test(this.id)"></td>
                            <td id="236" onclick="test(this.id)"></td>
                            <td id="237" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="240" onclick="test(this.id)"></td>
                            <td id="241" onclick="test(this.id)"></td>
                            <td id="242" onclick="test(this.id)"></td>
                            <td id="243" onclick="test(this.id)"></td>
                            <td id="244" onclick="test(this.id)"></td>
                            <td id="245" onclick="test(this.id)"></td>
                            <td id="246" onclick="test(this.id)"></td>
                            <td id="247" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="250" onclick="test(this.id)"></td>
                            <td id="251" onclick="test(this.id)"></td>
                            <td id="252" onclick="test(this.id)"></td>
                            <td id="253" onclick="test(this.id)"></td>
                            <td id="254" onclick="test(this.id)"></td>
                            <td id="255" onclick="test(this.id)"></td>
                            <td id="256" onclick="test(this.id)"></td>
                            <td id="257" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="260" onclick="test(this.id)"></td>
                            <td id="261" onclick="test(this.id)"></td>
                            <td id="262" onclick="test(this.id)"></td>
                            <td id="263" onclick="test(this.id)"></td>
                            <td id="264" onclick="test(this.id)"></td>
                            <td id="265" onclick="test(this.id)"></td>
                            <td id="266" onclick="test(this.id)"></td>
                            <td id="267" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="270" onclick="test(this.id)"></td>
                            <td id="271" onclick="test(this.id)"></td>
                            <td id="272" onclick="test(this.id)"></td>
                            <td id="273" onclick="test(this.id)"></td>
                            <td id="274" onclick="test(this.id)"></td>
                            <td id="275" onclick="test(this.id)"></td>
                            <td id="276" onclick="test(this.id)"></td>
                            <td id="277" onclick="test(this.id)"></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <br/>
        <tr style="height: 3px">
            <td>
                <p align="center" style="height: 3px"><font style="font-family: 黑体;color: black;">第四层</font></p>
            </td>
            <td>
                <p align="center" style="height: 3px"><font style="font-family: 黑体;color: black;">第五层</font></p>
            </td>
            <td>
                <p align="center" style="height: 3px"><font style="font-family: 黑体;color: black;">第六层</font></p>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <table style="background-color: cornflowerblue">
                        <tr>
                            <td id="300" onclick="test(this.id)"></td>
                            <td id="301" onclick="test(this.id)"></td>
                            <td id="302" onclick="test(this.id)"></td>
                            <td id="303" onclick="test(this.id)"></td>
                            <td id="304" onclick="test(this.id)"></td>
                            <td id="305" onclick="test(this.id)"></td>
                            <td id="306" onclick="test(this.id)"></td>
                            <td id="307" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="310" onclick="test(this.id)"></td>
                            <td id="311" onclick="test(this.id)"></td>
                            <td id="312" onclick="test(this.id)"></td>
                            <td id="313" onclick="test(this.id)"></td>
                            <td id="314" onclick="test(this.id)"></td>
                            <td id="315" onclick="test(this.id)"></td>
                            <td id="316" onclick="test(this.id)"></td>
                            <td id="317" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="320" onclick="test(this.id)"></td>
                            <td id="321" onclick="test(this.id)"></td>
                            <td id="322" onclick="test(this.id)"></td>
                            <td id="323" onclick="test(this.id)"></td>
                            <td id="324" onclick="test(this.id)"></td>
                            <td id="325" onclick="test(this.id)"></td>
                            <td id="326" onclick="test(this.id)"></td>
                            <td id="327" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="330" onclick="test(this.id)"></td>
                            <td id="331" onclick="test(this.id)"></td>
                            <td id="332" onclick="test(this.id)"></td>
                            <td id="333" onclick="test(this.id)"></td>
                            <td id="334" onclick="test(this.id)"></td>
                            <td id="335" onclick="test(this.id)"></td>
                            <td id="336" onclick="test(this.id)"></td>
                            <td id="337" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="340" onclick="test(this.id)"></td>
                            <td id="341" onclick="test(this.id)"></td>
                            <td id="342" onclick="test(this.id)"></td>
                            <td id="343" onclick="test(this.id)"></td>
                            <td id="344" onclick="test(this.id)"></td>
                            <td id="345" onclick="test(this.id)"></td>
                            <td id="346" onclick="test(this.id)"></td>
                            <td id="347" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="350" onclick="test(this.id)"></td>
                            <td id="351" onclick="test(this.id)"></td>
                            <td id="352" onclick="test(this.id)"></td>
                            <td id="353" onclick="test(this.id)"></td>
                            <td id="354" onclick="test(this.id)"></td>
                            <td id="355" onclick="test(this.id)"></td>
                            <td id="356" onclick="test(this.id)"></td>
                            <td id="357" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="360" onclick="test(this.id)"></td>
                            <td id="361" onclick="test(this.id)"></td>
                            <td id="362" onclick="test(this.id)"></td>
                            <td id="363" onclick="test(this.id)"></td>
                            <td id="364" onclick="test(this.id)"></td>
                            <td id="365" onclick="test(this.id)"></td>
                            <td id="366" onclick="test(this.id)"></td>
                            <td id="367" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="370" onclick="test(this.id)"></td>
                            <td id="371" onclick="test(this.id)"></td>
                            <td id="372" onclick="test(this.id)"></td>
                            <td id="373" onclick="test(this.id)"></td>
                            <td id="374" onclick="test(this.id)"></td>
                            <td id="375" onclick="test(this.id)"></td>
                            <td id="376" onclick="test(this.id)"></td>
                            <td id="377" onclick="test(this.id)"></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="padding-left: 2%">
                <div>
                    <table style="background-color: cornflowerblue">
                        <tr>
                            <td id="400" onclick="test(this.id)"></td>
                            <td id="401" onclick="test(this.id)"></td>
                            <td id="402" onclick="test(this.id)"></td>
                            <td id="403" onclick="test(this.id)"></td>
                            <td id="404" onclick="test(this.id)"></td>
                            <td id="405" onclick="test(this.id)"></td>
                            <td id="406" onclick="test(this.id)"></td>
                            <td id="407" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="410" onclick="test(this.id)"></td>
                            <td id="411" onclick="test(this.id)"></td>
                            <td id="412" onclick="test(this.id)"></td>
                            <td id="413" onclick="test(this.id)"></td>
                            <td id="414" onclick="test(this.id)"></td>
                            <td id="415" onclick="test(this.id)"></td>
                            <td id="416" onclick="test(this.id)"></td>
                            <td id="417" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="420" onclick="test(this.id)"></td>
                            <td id="421" onclick="test(this.id)"></td>
                            <td id="422" onclick="test(this.id)"></td>
                            <td id="423" onclick="test(this.id)"></td>
                            <td id="424" onclick="test(this.id)"></td>
                            <td id="425" onclick="test(this.id)"></td>
                            <td id="426" onclick="test(this.id)"></td>
                            <td id="427" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="430" onclick="test(this.id)"></td>
                            <td id="431" onclick="test(this.id)"></td>
                            <td id="432" onclick="test(this.id)"></td>
                            <td id="433" onclick="test(this.id)"></td>
                            <td id="434" onclick="test(this.id)"></td>
                            <td id="435" onclick="test(this.id)"></td>
                            <td id="436" onclick="test(this.id)"></td>
                            <td id="437" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="440" onclick="test(this.id)"></td>
                            <td id="441" onclick="test(this.id)"></td>
                            <td id="442" onclick="test(this.id)"></td>
                            <td id="443" onclick="test(this.id)"></td>
                            <td id="444" onclick="test(this.id)"></td>
                            <td id="445" onclick="test(this.id)"></td>
                            <td id="446" onclick="test(this.id)"></td>
                            <td id="447" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="450" onclick="test(this.id)"></td>
                            <td id="451" onclick="test(this.id)"></td>
                            <td id="452" onclick="test(this.id)"></td>
                            <td id="453" onclick="test(this.id)"></td>
                            <td id="454" onclick="test(this.id)"></td>
                            <td id="455" onclick="test(this.id)"></td>
                            <td id="456" onclick="test(this.id)"></td>
                            <td id="457" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="460" onclick="test(this.id)"></td>
                            <td id="461" onclick="test(this.id)"></td>
                            <td id="462" onclick="test(this.id)"></td>
                            <td id="463" onclick="test(this.id)"></td>
                            <td id="464" onclick="test(this.id)"></td>
                            <td id="465" onclick="test(this.id)"></td>
                            <td id="466" onclick="test(this.id)"></td>
                            <td id="467" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="470" onclick="test(this.id)"></td>
                            <td id="471" onclick="test(this.id)"></td>
                            <td id="472" onclick="test(this.id)"></td>
                            <td id="473" onclick="test(this.id)"></td>
                            <td id="474" onclick="test(this.id)"></td>
                            <td id="475" onclick="test(this.id)"></td>
                            <td id="476" onclick="test(this.id)"></td>
                            <td id="477" onclick="test(this.id)"></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="padding-left: 2%">
                <div>
                    <table style="background-color: cornflowerblue">
                        <tr>
                            <td id="500" onclick="test(this.id)"></td>
                            <td id="501" onclick="test(this.id)"></td>
                            <td id="502" onclick="test(this.id)"></td>
                            <td id="503" onclick="test(this.id)"></td>
                            <td id="504" onclick="test(this.id)"></td>
                            <td id="505" onclick="test(this.id)"></td>
                            <td id="506" onclick="test(this.id)"></td>
                            <td id="507" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="510" onclick="test(this.id)"></td>
                            <td id="511" onclick="test(this.id)"></td>
                            <td id="512" onclick="test(this.id)"></td>
                            <td id="513" onclick="test(this.id)"></td>
                            <td id="514" onclick="test(this.id)"></td>
                            <td id="515" onclick="test(this.id)"></td>
                            <td id="516" onclick="test(this.id)"></td>
                            <td id="517" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="520" onclick="test(this.id)"></td>
                            <td id="521" onclick="test(this.id)"></td>
                            <td id="522" onclick="test(this.id)"></td>
                            <td id="523" onclick="test(this.id)"></td>
                            <td id="524" onclick="test(this.id)"></td>
                            <td id="525" onclick="test(this.id)"></td>
                            <td id="526" onclick="test(this.id)"></td>
                            <td id="527" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="530" onclick="test(this.id)"></td>
                            <td id="531" onclick="test(this.id)"></td>
                            <td id="532" onclick="test(this.id)"></td>
                            <td id="533" onclick="test(this.id)"></td>
                            <td id="534" onclick="test(this.id)"></td>
                            <td id="535" onclick="test(this.id)"></td>
                            <td id="536" onclick="test(this.id)"></td>
                            <td id="537" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="540" onclick="test(this.id)"></td>
                            <td id="541" onclick="test(this.id)"></td>
                            <td id="542" onclick="test(this.id)"></td>
                            <td id="543" onclick="test(this.id)"></td>
                            <td id="544" onclick="test(this.id)"></td>
                            <td id="545" onclick="test(this.id)"></td>
                            <td id="546" onclick="test(this.id)"></td>
                            <td id="547" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="550" onclick="test(this.id)"></td>
                            <td id="551" onclick="test(this.id)"></td>
                            <td id="552" onclick="test(this.id)"></td>
                            <td id="553" onclick="test(this.id)"></td>
                            <td id="554" onclick="test(this.id)"></td>
                            <td id="555" onclick="test(this.id)"></td>
                            <td id="556" onclick="test(this.id)"></td>
                            <td id="557" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="560" onclick="test(this.id)"></td>
                            <td id="561" onclick="test(this.id)"></td>
                            <td id="562" onclick="test(this.id)"></td>
                            <td id="563" onclick="test(this.id)"></td>
                            <td id="564" onclick="test(this.id)"></td>
                            <td id="565" onclick="test(this.id)"></td>
                            <td id="566" onclick="test(this.id)"></td>
                            <td id="567" onclick="test(this.id)"></td>
                        </tr>
                        <tr>
                            <td id="570" onclick="test(this.id)"></td>
                            <td id="571" onclick="test(this.id)"></td>
                            <td id="572" onclick="test(this.id)"></td>
                            <td id="573" onclick="test(this.id)"></td>
                            <td id="574" onclick="test(this.id)"></td>
                            <td id="575" onclick="test(this.id)"></td>
                            <td id="576" onclick="test(this.id)"></td>
                            <td id="577" onclick="test(this.id)"></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

    </table>
</div>
</body>

</html>